body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00;
}

header {
    background: linear-gradient(to right, #333, #1a1a1a);
    color: #fff;
    text-align: center;
    padding: 2em;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background: linear-gradient(to right, #333, #1a1a1a);
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#filter {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#project-list li,
#education li,
#certifications li
{
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* #project-list{
    height: 700px;
}

#education{
    height: 700px;
} */

section{
    margin-bottom: 70px;
}

#project-list li:hover,
#education li:hover,
#certifications li:hover
 {
    transform: scale(1.03);
}

/* Responsive styles */
@media (max-width: 600px) {
    header {
        padding: 1em;
    }
}